.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;  
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}



.cabecalho-imagem {


}

.cabecalho-imagem {


}

.cabecalho-nav {

}

.cabelhaco-menu-item {
    font-family: 'Sarala', sans-serif;
    color: #FFF2E7;
    font-weight: 400;
    font-size: 18px;

}

.conteudo-principal {
    display:flex;
    flex-direction: row;
    align-items: left;
    justify-content: space-around;
    margin: 25px 50px 75px;
    border-style: solid;
    border-radius: 10px;

}

body {
    background: rgb(28,52,113);
    background: linear-gradient(0deg, rgba(28,52,113,1) 24%, rgba(253,187,45,1) 82%);
}
.formulario {
    display: flex;
    flex-direction: row;
    align-items: right;
    justify-content: space-around;
    margin: 25px 50px 75px;
    border-style: solid;
    border-radius: 10px;

}
    

.rodape {
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 100px;
    background-color: #194240;
    color:#f1f0eb;
    text-align: center;

}