*{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: #f1f0eb;
    margin: 0 auto;
}

h1, h3{
    margin: 15px;
    color: #194240;
}


.menuAdmin{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-image: linear-gradient(to top, silver, azure);
    line-height: 50px;
    width: 100%;
    padding: 5px;
    margin-bottom: 15px;
}

.menuAdmin a{
    text-decoration: none;
    color: #194240;
    font-weight: bold;
}


form{
    margin: 15px;
}

.container{
    margin: 15px;
    margin-bottom: 200px;
}


footer{
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 100px;
    background-color: #194240;
    color:#f1f0eb;
    text-align: center;
}

footer p {
    font-weight: bold;
}

thead tr th{
    border-bottom: 2px solid #333;
    margin: 0;
}

.containerLogin{
    width: 400px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

#mensagem{
    text-align: center;
}

#formLogin fieldset{
    color: #194240;
    width: 250px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 50px;
    padding: 15px;
    background-color: rgba(1,1,1,0.1);    
    border-radius: 5px;

}

#formLogin fieldset legend{
    background-color: #194240;
    color: white;
    padding: 5px;
    border-radius: 5px;
}


#formLogin fieldset input{
    margin: 10px;
    
}

#formLogin fieldset input[type="submit"] {
    margin: 0 auto;
    margin-top: 15px;
    background-color: #194240;
    width: 100px;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    border: 2px solid #333;
}

.containerSkins{
    display: flex;
    flex-direction: column;
}

.formSkins{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.optSkins{
    display: flex;
    justify-content: space-between;
}

.cardSkin{
    border: 1px solid #666;
    border-radius: 5px;
    margin-top: 15px;
    padding: 7px;
    background-color: white;
}

.botaoPadrao{
    margin: 0 auto;
    margin-top: 15px;
    background-color: #194240;
    width: 100px;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    border: 2px solid #333;
}

.imgSkin{
    width: 100%;
    border: 1px solid #666;
    border-radius: 5px;
}

#btnSkin{
    margin: 0 auto;
    margin-top: 25px;
    padding: 10px;
    font-size: 20px;
    width: 200px;

}